<h1>New Listing</h1>
<%# will render form for product listing, as edit and new method will use same form %>
<%= render 'form', listing: @listing, categories: @categories %>
<%# links to listings %>
<%= link_to 'Back', listings_path %>
