<%# for current users to comment %>
<% if user_signed_in?%>

<%# display the name of the commenter %>
<p>
    <strong>Name:</strong>
    <%= comment.commenter %>
</p>

<%# body of the comment %>
<p>
    <strong>Review:</strong>
    <%= comment.body %>
</p>

<%# time when comment was made, time_ago_in_words method was used %>
<p><%= time_ago_in_words(comment.created_at)%> ago</p>
<% end %>

<%# logged in user can only comment and can only destroy comments 
that they have in their listings %>
<% if user_signed_in? and @listing.user.id == current_user.id%>
    <p>
        <%= link_to 'Destroy Comment', [comment.listing, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
    </p>
<% end %>
