<p>
    <strong>Name:</strong>
    <%= comment.commenter %>
</p>
 
<p>
    <strong>Comment:</strong>
    <%= comment.body %>
</p>

<p><%= time_ago_in_words(comment.created_at)%> ago</p>

<% if user_signed_in? and @listing.user.id == current_user.id%>
<p>
  <%= link_to 'Destroy Comment', [comment.listing, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
<% end %>
