<div class="jumbotron jumbotron-fluid">
  <div class="container">

    <h1>Shop Now</h1>
    <p>BuyMySari is an online marketplace for buying and selling like-new secondhand sarees.</p>
    

     <%= link_to 'Shop', listings_path, class: "btn btn-primary" %>

    

  </div>
</div>

 <%= link_to 'Listings', listings_path %>

