<div class="jumbotron jumbotron-fluid">
  <div class="container">

    <h1>Shop Now</h1>
    <p>Bootstrap is the most popular HTML, CSS...</p>
    

     <%= link_to 'Shop', listings_path, class: "btn btn-primary" %>

    

  </div>
</div>

 <%= link_to 'Listings', listings_path %>

